{% extends 'layout.html'%}
{% block titulo %}Administrador{% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-dice-d20 fa-beat-fade fa-2xl" style="color: #01fe34;"></i> eat - comida
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">
          <a class="nav-link" href="/ofertas">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin"><i class="fa-regular fa-user"></i></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar juegos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class= "container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Fechareg</th>
        <th scope="col">Perfil</th>
        <th scope="col" colspan="2">
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="fa-solid fa-user-plus"></i>
</button>
        </th>
      </tr>
      
 <!-- Modal insert -->
 <div class="modal fade" id="insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="/iUsuario" method="post">
    <div class="modal-body">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombre">
      </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" name="correo" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" name="clave" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Perfil</label>
          <select name="perfil" class="form-select" aria-label="Default select example">
            <option selected>Selecciona un perfil guapote.</option>
            <option value="A">Administrador :3</option>
            <option value="U">Usuario</option>
          </select>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
    </form>
  </div>
  </div>
  </div>
</thead>
<tbody>
    {% for u in usuarios %}
  <tr>
    <th scope="row">{{u.0}}</th>
    <td>{{u.1}}</td>
    <td>{{u.2}}</td>
    <td>{{u.4}}</td>
    <td>{{u.5}}</td>
    <td>
       <!-- Button update -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update{{u.0}}">
        <i class="fa-solid fa-pen-to-square fa-beat" style="color: #6beeff;"></i>
      </button>
    </td>
    <td>
                        <!-- Button delete -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete{{u.0}}">
        <i class="fa-solid fa-trash-can" style="color: #49fafd;"></i>
      </button>
    </td>
  </tr>
   <!-- Modal update -->
   <div class="modal fade" id="update{{u.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/uUsuario/{{u.0}}" method="post">
      <div class="modal-body">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" name="nombre" value="{{u.1}}" class="form-control" id="nombre">
        </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name="correo" value="{{u.2}}" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" name="clave" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Perfil</label>
            <select name="perfil" class="form-select" aria-label="Default select example">
              <option >Selecciona un perfil guapote.</option>
              <option {% if u.5 == 'A' %} selected {% endif %} value="A">Administrador :3</option>
              <option {% if u.5 == 'U' %} selected {% endif %} value="U">Usuario</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Editar usuario</button>
      </div>
      </form>
    </div>
    </div>
    </div>

<!-- Modal delete -->
<div class="modal fade" id="delete{{u.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Usuario</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <form action="/dUsuario/{{u.0}}">
  <div class="modal-body">
    <p><i class="fa-solid fa-circle-exclamation fa-bounce fa-2xl" style="color: #ff0026;"></i>¿Estas seguro de querer eliminar el usuario? {{u.1}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
  </div>
</form>
</div>
</div>
</div>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}